<p>add-product-component works!</p>
<form method="POST" action="../product-component.component.html">
    <table>
        <tr>
            <td><input type = "text" name = "product_name" required></td>
        </tr>
        <tr>
            <td><input type = "number" name = "price" required></td>
        </tr>
        <tr>
            <td><input type = "text" name = "product_description"></td>
        </tr>
        <tr>
        <input type="submit" value = "submit" name = "submit">  
        </tr>
    </table>
    
</form>
